body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: #474860;
    position: relative;
    background-color: white;
}

* {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif;
}

body.dark {
    color: #bdbdbd;
    background-color: #27282c;
}

h1, h2, h3 {
    color: #222222;
    font-weight: 100;
}

.dark h1, .dark h2, .dark h3 {
    color: white;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h2 + h3 {
    margin-top: 1rem;
}

hr {
    border-color: #dfe2e5;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: 1.5rem 0;
}

.dark hr {
    border-color: #9b9da0;
}

a {
    color: #00A3E1;
    text-decoration: none;
}

.dark a {
    color: #4ca6ff;
}

.reference {
    color: #666676;
    padding: 0.5rem 1rem;
    margin-top: 0.3rem;
    border-left: 4px solid #dfe2e5;
    background-color: #fafafa;
}

.dark .reference {
    color: #a5a5a5;
    border-left-color: #4e4f58;
    background-color: #303136;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 1rem;
    line-height: 1rem;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
    margin: 2px 0;
}

kbd + kbd {
    margin-right: 5px;
}

.dark kbd {
    color: #d2d2d2;
    background-color: #5f606c;
    border-color: #454650 #454650 #3c4147;
    box-shadow: inset 0 -1px 0 #3c4147;
}

.content {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 950px;
    position: absolute;
}

.content > *:last-child {
    margin-bottom: 3rem;
}

.content img {
    max-width: 100%;
}