* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 15px;
    line-height: 16px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
    margin-left: 2px;
    margin-right: 2px;
}

.main-content {
    min-height: 100%;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00A3E1), color-stop(100%, #06DCE9));
    background-image: -webkit-linear-gradient(top, #00A3E1 0, #06DCE9 100%);
    background-image: -moz-linear-gradient(top, #00A3E1 0, #06DCE9 100%);
    background-image: -o-linear-gradient(top, #00A3E1 0, #06DCE9 100%);
    background-image: linear-gradient(to bottom, #00A3E1 0, #06DCE9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00A3E1', endColorstr='#FF06DCE9', GradientType=0);
    background-attachment: fixed;
}

@media screen and (min-width: 64em) {
    .main-content {
        padding: 5rem 6rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 3rem 4rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
    }
}

a {
    color: #1e6bb8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    min-width: 10rem;
    display: inline-block;
    margin-bottom: 1rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .2);
}

.btn + .btn {
    margin-left: 1rem;
}

.btn:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.2);
}

.btn:active {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12), 0 6px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;
    }

    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0;
    }
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
}

.project-tagline {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-weight: normal;
    opacity: 0.8;
}

@media screen and (min-width: 64em) {

    .project-name {
        font-size: 3.25rem;
    }

    .project-tagline {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {

    .project-name {
        font-size: 2.25rem;
    }

    .project-tagline {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 42em) {

    .project-name {
        font-size: 1.75rem;
    }

    .project-tagline {
        font-size: 1rem;
    }
}

.project-version {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 15px;
    font-weight: normal;
    opacity: 0.8;
}

.project-version a {
    color: white;
    text-decoration: none;
}

.project-version a:hover {
    color: #0071e1;
}

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {
    color: #819198;
}

@media screen and (min-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 42em) {
    .site-footer {
        font-size: 0.9rem;
    }
}

.index_starWrap {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 162px;
    height: 163px;
    overflow: hidden
}

.index_star {
    position: absolute;
    right: -67px;
    top: 52px;
    width: 268px;
    padding: 2px 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.index_star a {
    display: block;
    height: 28px;
    border: 1px dashed #7FD0E8;
    line-height: 28px;
    color: #01AAE1;
}

.index_star a:hover {
    border: 1px dashed #5fc2e6;
    text-decoration: none;
    color: #0091e1;
}

@media handheld and (max-width: 846px), screen and (max-width: 846px) {

    .index_starWrap {
        width: 126px;
        height: 125px
    }

    .index_star {
        right: -52px;
        top: 37px;
        width: 208px
    }

    .index_star_inner {
        height: 24px;
        line-height: 24px
    }
}

.idea {
    width: 608px;
    height: 637px;
    padding-left: 41px;
    padding-top: 85px;
    margin: 1rem auto 3rem;
    border: 1px solid #00a0e1;
    background-image: url("../images/background.png");
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12), 0 4px 16px rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow 0.2s, border-color 0.2s;
    transition: box-shadow 0.2s, border-color 0.2s;
}

.idea:hover {
    border: 1px solid #707070;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2), 0 8px 32px rgba(0, 0, 0, 0.24);
}

.translator-logo {
    margin-bottom: 5rem;
}

.maintainer {
    color: #DEF3F5;
    font-size: 0.9rem;
}

.maintainer a {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.maintainer a:hover {
    color: #007be1;
}

.start_body {
    position: relative;
    min-height: 100%;
}

.frame_head {
    z-index: 1;
    width: 100%;
    height: 64px;
    position: relative;
    padding-left: 12rem;
    background-color: #00A3E1;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}

.frame_head a {
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 64px;
    color: white;
    float: left;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.frame_head a:first-child {
    margin-left: -16px;
}

.frame_head a + a {
    margin-left: 5px;
}

.frame_head a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.frame_head a.primary {
    font-size: 1.25rem;
    font-weight: bold;
}

.frame_head a.selected {
    position: relative;
}

.frame_head a.selected:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.9);
}

.frame_head_title {
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 64px;
    color: white;
}

.frame_content {
    color: #474860;
    padding-bottom: 5rem;
    padding-left: 12rem;
    padding-right: 12rem;
    top: 64px;
    bottom: 0;
    position: absolute;
    overflow: auto;
}

.frame_content a {
    color: #00A3E1;
}

@media screen and (min-width: 64em) {
    .frame_head {
        font-size: 1rem;
        padding-left: 8rem;
    }

    .frame_content {
        padding-left: 16rem;
        padding-right: 16rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .frame_head {
        font-size: 1rem;
        padding-left: 4rem;
    }

    .frame_content {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (max-width: 42em) {
    .frame_head {
        font-size: 0.9rem;
        padding-left: 1rem;
    }

    .frame_content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.github-icon-wrap {
    width: 64px;
    height: 64px;
    right: 10px;
    position: absolute;
}

.github-icon {
    width: 32px;
    height: 32px;
    margin-top: 16px;
}

.column {
    margin-bottom: 4rem;
}

.column_title {
    color: #333333;
    font-size: 38px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D8D8D8;
}

.column_item_title {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 700
}

.column_tip {
    margin-bottom: 22px;
}

.column_item_info_code {
    padding: 15px;
    font-size: 15px;
    background-color: #FAF8F2;
    border: 1px solid #efe8d5;
    border-radius: 4px;
    overflow: auto;
    cursor: pointer;
}

.column_img {
    text-align: center;
}

.column_img img {
    background-color: #eff0f1;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table tr {
    border-top: 1px solid #c6cbd1;
}

table th,
table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.updates {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    position: absolute;
}

.updates .version-list {
    font-size: 1.3rem;
    width: 8rem;
    left: 16%;
    top: 0;
    right: auto;
    bottom: 0;
    position: absolute;
}

.updates .version-content {
    left: 16%;
    margin-left: 8rem;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}

.version-list .version-title {
    margin-top: 1.8rem;
    padding-left: 1.5rem;
}

.version-list ul {
    list-style: none;
    margin: 0.5rem 0;
    padding-left: 0;
}

.version-list ul li {
    padding: 0.5rem 0 0.5rem 1.5rem;
    font-weight: 100;
    cursor: pointer;
    border-left: 1px solid #d3d6d9;
}

.version-list ul li:hover {
    border-color: #0288D1;
}

.version-list ul li.selected {
    color: #0288D1;
}

iframe {
    border: none;
}
