# GitHub Actions Workflow is created for testing and preparing the plugin release in the following steps:
# - Run Qodana inspections.
#
# The workflow is triggered on push and pull_request events.
#
# GitHub Actions reference: https://help.github.com/en/actions
##

name: Qodana
on:
  # Trigger the workflow on pushes to only the 'main' branch (this avoids duplicate checks being run e.g., for dependabot pull requests)
  push:
    branches: [ master, next ]
    paths-ignore:
      - '.idea/**'
      - '.run/**'
      - 'gradle/wrapper/**'
      - 'resources/**'
      - '.gitignore'
      - 'gradlew'
      - 'gradlew.bat'
      - 'README.md'
      - 'CHANGELOG.md'
      - 'FINANCIAL_CONTRIBUTORS.md'
  # Trigger the workflow on any pull request
  pull_request:
    paths-ignore:
      - '.idea/**'
      - '.run/**'
      - 'gradle/wrapper/**'
      - 'resources/**'
      - '.gitignore'
      - 'gradlew'
      - 'gradlew.bat'
      - 'README.md'
      - 'CHANGELOG.md'
      - 'FINANCIAL_CONTRIBUTORS.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  # Run Qodana inspections and provide report
  inspectCode:
    name: Inspect code
    runs-on: ubuntu-latest
    permissions:
      contents: write
      checks: write
      pull-requests: write
    steps:

      # Free GitHub Actions Environment Disk Space
      - name: Maximize Build Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          large-packages: false

      # Check out the current repository
      - name: Fetch Sources
        uses: actions/checkout@v4

      # Set up Java environment for the next steps
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17

      # Run Qodana inspections
      - name: Qodana - Code Inspection
        uses: JetBrains/qodana-action@v2024.1.5
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}